---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    service: openaihub-ui
  name: openaihub-ui
  namespace: {{ openaihub.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      service: openaihub-ui
  template:
    metadata:
      labels:
        service: openaihub-ui
    spec:
      containers:
      - image: docker.io/kastentx/openaihub-ui
        imagePullPolicy: IfNotPresent
        name: openaihub-ui
        ports:
        - containerPort: 3000
        env:
          - name: REACT_APP_API
            value: {{ openaihub.react_app_api }}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: openaihub-ui
  name: openaihub-ui
  namespace: {{ openaihub.namespace }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    service: openaihub-ui
  type: NodePort