---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    service: openaihub-ui
  name: openaihub-ui
  namespace: {{ openaihub.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      service: openaihub-ui
  template:
    metadata:
      labels:
        service: openaihub-ui
    spec:
      containers:
      - image: {{ openaihub.ui_image }}
        imagePullPolicy: IfNotPresent
        name: openaihub-ui
        ports:
        - containerPort: 3000
        env:
        - name: REACT_APP_API
          value: {{ openaihub.react_app_api }}
        - name: REACT_APP_RUN
          value: {{ openaihub.react_app_run }}
        - name: REACT_APP_UPLOAD
          value: {{ openaihub.react_app_upload }}
        - name: REACT_APP_KFP
          value: {{ openaihub.react_app_kfp }}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: openaihub-ui
  name: openaihub-ui
  namespace: {{ openaihub.namespace }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    service: openaihub-ui
  type: NodePort
